@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap");

.AboutMe {
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
  background-color: #323031;
  color: #fff;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.AboutMe_Title {
  display: flex;
  justify-content: center;
}

.AboutMe_Text {
  font-size: 3rem;
  color: #fff;
  border-bottom: 1px solid;
}

.AboutMe_Content {
  display: flex;
  text-align: center;
  padding: 1rem 1rem;
}

.AboutMe_Content_Text {
  font-size: clamp(1rem, 5vw, 2.5rem);
  margin-top: 30px;
  letter-spacing: 2px;
}

.AboutMe_MoreBtn {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background-color: pink;
  width: 20%;
  margin: 0 auto;
}

.AboutMe_Link {
  font-size: 3rem;
  color: #fff;
}

.AboutMe_Link::before {
  content: "ABOUT ME";
}

.AboutMe_Link:hover {
  color: #273c75;
}

.AboutMe_Link:hover::before {
  content: "더 알아보기";
}
