.Home_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #95a5a6;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

.Home_Name {
  font-size: 12rem;
  color: #fff;
}

.Home_Career {
  font-size: 3rem;
  margin-top: 40px;
  color: #fff;
}

.Home_Btns {
  display: flex;
  position: relative;
  top: 200px;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 2rem;
  width: 25vw;
}

span {
  cursor: pointer;
}

.span1 {
  &:hover {
    transition: 0.1s;
    color: #fc5c65;
  }
}

.span2 {
  &:hover {
    transition: 0.12s;
    color: #fd9644;
  }
}

.span3 {
  &:hover {
    transition: 0.17s;
    color: #fed330;
  }
}

.span4 {
  &:hover {
    transition: 0.19s;
    color: #26de81;
  }
}

.span5 {
  &:hover {
    transition: 0.21s;
    color: #2bcbba;
  }
}

.span6 {
  &:hover {
    transition: 0.23s;
    color: #45aaf2;
  }
}

.span7 {
  &:hover {
    transition: 0.26s;
    color: #4b7bec;
  }
}

.span8 {
  &:hover {
    transition: 0.28s;
    color: #a55eea;
  }
}

.span9 {
  &:hover {
    color: #4b6584;
    transition: 0.3s;
  }
}
