.Projects {
}

.Projects_Title {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.Projects_Text {
  font-size: 3rem;
  border-bottom: 1px solid;
}
