@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500&display=swap");
.Projects_Content1 {
  display: flex;
  justify-content: space-between;
  padding: 150px 8% 150px;
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.Projects_Content2 {
  display: flex;
  justify-content: space-between;
  padding: 150px 8% 150px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.Projects_Content3 {
  display: flex;
  justify-content: space-between;
  padding: 150px 8% 150px;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.Projects_Content4 {
  display: flex;
  justify-content: space-between;
  padding: 150px 8% 150px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.Projects_Info_Title {
  font-family: "Rubik", sans-serif;
  font-size: clamp(3rem, 8vw, 5rem);
  font-weight: 700;
  padding: 20px;
}

.Projects_Info_Desc {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: clamp(1rem, 4vw, 2rem);
  padding: 10px 20px;
}

.Projects_Info_Role {
  font-size: clamp(1rem, 4vw, 1.8rem);
  font-weight: 300;
  font-family: "Urbanist", sans-serif;
  padding: 10px 20px;
  margin-top: 30px;
  line-height: 1.5;
}

.Projects_Info_Links {
  width: 25vw;
  display: flex;
  position: relative;
  top: clamp(3rem, 10vh, 1rem);
  padding: clamp(0.5rem, 10vw, 0.5rem);
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: space-between;
    top: clamp(16rem, 1vw, 15rem);
  }
}

.Projects_Link {
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  color: #0d1b2a;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 70px;
  font-size: clamp(1rem, 4vw, 1.5rem);
  padding: clamp(0.5rem, 2vw, 1.4rem);
  &:hover {
    display: inline-block;
    transform: scale(1.1);
    transition: 0.2s;
  }
}

.Projects_Img {
  img {
    width: clamp(100%, 40vw, 120%);
    height: clamp(100%, 30vw, 100%);
  }
}
