@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap");
.Skills {
  height: 100vh;
  background: #463f3a; /* fallback for old browsers */
  font-family: "IBM Plex Sans KR", sans-serif;
  padding: 2rem 2rem;
}

.Skills_Title {
  display: flex;
  justify-content: center;
}

.Skills_Title_Text {
  position: relative;
  top: 30px;
  border-bottom: 1px solid;
  font-size: 3rem;
  color: #fff;
}

.Skills_List {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(25%, auto);
  padding: 4rem 2rem;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.Skills_Item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 7.5% 20px;
  overflow: auto;
  border-radius: 20px;
  color: #fff;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  transform: rotate(0.001deg);
  &:hover {
    background-color: #fff;
    color: black;
    border-radius: 20px;
    padding: 2rem 2rem;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transform: rotate(0.02deg);
  }
}

.Skills_Name {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}
