.Home_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

.Home_Name {
  font-size: 12rem;
  color: #fff;
}

.Home_Career {
  font-size: 3rem;
  margin-top: 40px;
  color: #fff;
}

.Home_Btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  font-size: 2rem;
  width: 25vw;
}

.span1 {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.span1:hover {
  color: #f8f9fa;
  display: inline-block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.span2 {
  cursor: pointer;
}

.span2:hover {
  display: inline-block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #e9ecef;
}

.span3 {
  cursor: pointer;
}

.span3:hover {
  display: inline-block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.23s;
  transition: 0.23s;
  color: #dee2e6;
}

.span4 {
  cursor: pointer;
}

.span4:hover {
  display: inline-block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.24s;
  transition: 0.24s;
  color: #ced4da;
}

.span5 {
  cursor: pointer;
}

.span5:hover {
  display: inline-block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #adb5bd;
}

.span6 {
  cursor: pointer;
}

.span6:hover {
  display: inline-block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.27s;
  transition: 0.27s;
  color: #6c757d;
}

.span7:hover {
  display: inline-block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.27s;
  transition: 0.27s;
  color: #495057;
}

.span8 {
  cursor: pointer;
}

.span8:hover {
  display: inline-block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.28s;
  transition: 0.28s;
  color: #343a40;
}

.span9 {
  cursor: pointer;
}

.span9:hover {
  color: #4b6584;
  display: inline-block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.29s;
  transition: 0.29s;
}
