.MoreInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-color: #0d1117;
  color: #fff;
  overflow-y: hidden;
}

.MoreInfo_FirstLine {
  color: #c9d1d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: clamp(3rem, 9vw, 7rem);
  padding: clamp(3rem, 2vw, 2rem);
  letter-spacing: 2px;
  line-height: 1.4;
  text-align: center;
}

.MoreInfo_Infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: clamp(1.5rem, 3vw, 3rem);
}

.MoreInfo_Introduce {
  font-size: clamp(1rem, 2vw, 1.2rem);
  text-align: center;
  padding: 30px;
  line-height: 2;
  color: #6c747c;
}

.MoreInfo_Stacks {
  font-size: clamp(1rem, 2vw, 1.2rem);
  text-align: center;
  padding: clamp(30px, 2vw, 30px);
  line-height: 2;
  color: #6c747c;
}

.MoreInfo_Title {
  color: #59a6ff;
  padding-bottom: 20px;
  font-size: 2.5em;
}

.MoreInfo_Btn {
  padding: 10px;
  font-size: clamp(1rem, 2vw, 2rem);
}

.MoreInfo_Btn_Text {
  cursor: pointer;
  padding: 5px;
}

.MoreInfo_Btn_Text:hover {
  color: #0e4428;
}
