@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.navbar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: clamp(1rem, 2vw, 2rem);
  padding: clamp(1rem, 2vw, 2rem);
}

.navbar_name {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-family: "Rampart One", cursive;
  color: #fff;
  cursor: pointer;
}

.navbar_menus {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar_menu {
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: clamp(1rem, 2vw, 1.6rem);
  padding: clamp(0.5rem, 2vw, 1.4rem);
  margin-left: clamp(0.1rem, 2vw, 1rem);
  border-radius: 10px;
}

.navbar_menu:hover {
  background: #fbf4f5;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: black;
}

.test1:hover {
  color: black;
}
