@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap");
.Projects_Content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 150px 8% 150px;
  background-color: #b7b7a4;
}

@media screen and (max-width: 768px) {
  .Projects_Content1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.Projects_Content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 150px 8% 150px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

@media screen and (max-width: 768px) {
  .Projects_Content2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.Projects_Content3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 150px 8% 150px;
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

@media screen and (max-width: 768px) {
  .Projects_Content3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.Projects_Content4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 150px 8% 150px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

@media screen and (max-width: 768px) {
  .Projects_Content4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.Projects_Info_Title {
  font-size: clamp(3rem, 8vw, 5rem);
  font-weight: 700;
  padding: 20px;
}

.Projects_Info_Desc {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: clamp(1rem, 4vw, 2rem);
  padding: 10px 20px;
}

.Projects_Info_Role {
  font-size: clamp(1rem, 4vw, 1.8rem);
  padding: 10px 20px;
  margin-top: 30px;
  line-height: 140%;
}

.Projects_Info_Links {
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: clamp(3rem, 10vh, 1rem);
  padding: clamp(0.5rem, 10vw, 0.5rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .Projects_Info_Links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: clamp(16rem, 1vw, 15rem);
  }
}

.Projects_Link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 70px;
  font-size: clamp(1rem, 4vw, 1.5rem);
  padding: clamp(0.5rem, 2vw, 1.4rem);
}

.Projects_Link:hover {
  display: inline-block;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.Projects_Img img {
  width: clamp(100%, 30vw, 120%);
  height: clamp(100%, 30vw, 100%);
}
